@import "../../styles/bundle.scss";

.badge {
  font-size: 11px;
  display: inline-flex;
  margin-right: 40px;
  margin-bottom: 40px;
  padding: 0px 0.5em;
  align-items: center;
  background-color: $color-border-default;
  border-radius: 2px;

  &__text {
    color: $color-text-default;
    text-align: center;
    font-family: $font-SF-PRO-TEXT;
    font-weight: 700;
    line-height: 1.45em; /* 145.455% */
    letter-spacing: 0.3px;
    text-transform: uppercase;
  }

  &__pill {
    font-size: 11px;
    border-radius: 0.73em;
    padding: 0 0.73em;
  }
}

.solid {
  &__neutral {
    background-color: $color-text-default;
  }

  &__green {
    background-color: $color-green-base;
  }

  &__blue {
    background-color: $color-blue-base;
  }

  &__red {
    background-color: $color-red-base;
  }

  &__orange {
    background-color: $color-orange-base;
  }

  &__purple {
    background-color: $color-purple-base;
  }

  &__yellow {
    background-color: $color-yellow-base;
  }

  &__teal {
    background-color: $color-teal-base;
  }

  .badge__text {
    color: $color-white;
  }
}

.subtle {
  &__neutral {
    background-color: $color-border-default;

    .badge__text {
      color: $color-text-default;
    }
  }

  &__green {
    background-color: $color-green-light;

    .badge__text {
      color: $color-green-dark;
    }
  }

  &__blue {
    background-color: $color-blue-light;

    .badge__text {
      color: $color-blue-dark;
    }
  }

  &__red {
    background-color: $color-red-light;

    .badge__text {
      color: $color-red-dark;
    }
  }

  &__orange {
    background-color: $color-orange-light;

    .badge__text {
      color: $color-orange-dark;
    }
  }

  &__purple {
    background-color: $color-purple-light;

    .badge__text {
      color: $color-purple-dark;
    }
  }

  &__yellow {
    background-color: $color-yellow-light;

    .badge__text {
      color: $color-yellow-dark;
    }
  }

  &__teal {
    background-color: $color-teal-light;

    .badge__text {
      color: $color-teal-dark;
    }
  }
}
