@import "../../styles/bundle.scss";

.menu {
  width: 260px;
  padding: 40px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: $color-page-bg-dark;
  z-index: 100;
  transition: all 0.4s;

  &__title {
    font-family: $font-SF-PRO-DISPLAY;
    color: $color-white;
    font-size: 32px;
    margin-bottom: 80px;

    @media (max-width: 768px) {
      text-align: center;
    }
  }

  &__button {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 60px;
    background: $color-page-bg-dark;
    cursor: pointer;

    &_open {
      @media (max-width: 768px) {
        left: 0;
        background: $color-black;
      }
    }

    &_close {
      @media (max-width: 768px) {
        left: 100%;
        // background: $color-black;
      }
    }
  }

  &__close {
    transform: translateX(-100%);
    transition: all 0.4s;
    position: absolute;
  }

  @media (max-width: 768px) {
    width: 100%;
    background: $color-black;
  }
}

.nav {
  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      text-decoration: none;
    }
  }

  &__item {
    font-size: 24px;
    padding: 0.5em;
    transition: 0.4s;
    border-radius: 4px;
    color: $color-white;
    text-decoration: none;
    margin-bottom: 40px;
    cursor: pointer;

    &_active {
      color: $color-text-default;
      background: $color-page-shadow;
    }

    &:hover {
      color: $color-text-default;
      background: $color-page-shadow;
    }
  }
}
