@import "../../styles/bundle.scss";

.card-page {
  @include page-desktop;

  &__default {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 200px 200px;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
  }
}

.custom-card {
  &__item {
    display: flex !important;
    margin: 0 auto;
    background-color: $color-teal-light !important;
    width: 300px;
    height: 300px;
    cursor: pointer;

    h3 {
      font-size: 32px;
      margin-bottom: 20px;
    }

    h5 {
      font-size: 20px;
      margin-bottom: 20px;
    }

    svg {
      width: 100px;
      height: 100px;
    }
  }
}
