@font-face {
  font-family: "SF Pro Display";
  src: local("../assets/fonts/SF-PRO/SF-Pro-Display-Medium.woff"),
    url("../assets/fonts/SF-PRO/SF-Pro-Display-Medium.woff");
  font-weight: 300, 400, 500, 600, 700, 800, 900;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: local("../assets/fonts/SF-PRO/sf-pro-text-medium.woff"),
    url("../assets/fonts/SF-PRO/sf-pro-text-medium.woff");
  font-weight: 300, 400, 500, 600, 700, 800, 900;
  font-style: normal;
}
