@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SF-PRO/SF-Pro-Display-Medium.woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../assets/fonts/SF-PRO/sf-pro-text-medium.woff");
  font-weight: 900;
  font-style: normal;
}
