// Colors
$color-white: #fff;
$color-black: #000;
$color-red-lightest: #fef6f6;
$color-red-light: #fae2e2;
$color-red-base: #ec4c47;
$color-red-dark: #bf0e08;
$color-orange-lightest: #fdf8f3;
$color-orange-light: #fae3cd;
$color-orange-base: #d9822b;
$color-orange-dark: #95591e;
$color-yellow-lightest: #fef8e7;
$color-yellow-light: #fbe6a2;
$color-yellow-base: #f7d154;
$color-yellow-dark: #7e6514;
$color-green-lightest: #f1faf5;
$color-green-light: #d4eee2;
$color-green-base: #47b881;
$color-green-dark: #00783e;
$color-teal-lightest: #f1fbfc;
$color-teal-light: #d2eef3;
$color-teal-base: #14b5d0;
$color-teal-dark: #007489;
$color-blue-lightest: #f6f9fd;
$color-blue-light: #dbeaf7;
$color-blue-base: #1070ca;
$color-blue-dark: #084b8a;
$color-purple-lightest: #f8f7fc;
$color-purple-light: #eae7f8;
$color-purple-base: #735dd0;
$color-purple-dark: #37248f;
$color-text-default: #425a70;

// Fonts

$font-SF-PRO-TEXT: "SF Pro Text";
$font-SF-PRO-DISPLAY: "SF Pro Display";
