@import "../../styles/bundle.scss";

.button-page {
  // background: linear-gradient(102deg, #caecff 1.56%, #647dff 97.85%);

  @include page-desktop;

  &__variants {
    display: flex;
    align-items: center;
    margin-bottom: 80px;

    button {
      margin-right: 40px;
      @media (max-width: 768px) {
        margin-bottom: 40px;
      }
    }

    @media (max-width: 768px) {
      width: 320px;
      margin: 0 auto;
      flex-direction: column;
    }
  }
}
