@import "../../styles/bundle.scss";

.paragraph-page {
  @include page-desktop;
}

.paragraph {
  &:not(:last-child) {
    margin-bottom: 40px;
  }

  &__title {
    font-size: 12px;
    color: $color-teal-base;
  }
}
